.lexemeId {
    color: gray;
}

.pId {
    color: gray;
    font-size: 0.7rem;
}

.borderLess {
    border: none;
}

.MuiIconButton-sizeSmall {
    font-size: 1rem;
}

.typeahead-selector > li {
    list-style-type: none;
}

.typeahead, .typeahead input {
    display: inline;
  }